<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
    <script th:src="@{/static/js/thymeleaf.js}"></script>
    <script>
        testFunction();
    </script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="showing">
        <p th:text="${name}"></p>
        <p th:text="'Hello！ ' + ${name} + '!'" ></p>
        <p th:text="|Hello! ${name}!|" ></p>
</div>
</body>
</html>