<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <p>显示 转义和非转义的 html 文本</p>
    <p th:text="${htmlContent}">
    <p th:utext="${htmlContent}" ></p>
    <p></p>
    <p th:text="${currentProduct.getId()}">
    <h2>*{}方式显示属性</h2>
    <div th:object="${currentProduct}">
        <p th:text="*{name}"></p>
    </div>
    </p>
</div>
</body>
</html>